<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428038298163-5mcp60npt9kq0ca8rusu871n2je89omq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428038298163-5mcp60npt9kq0ca8rusu871n2je89omq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>428038298163-seflf1s8chdfth97d7nilgd8vbhnt8gp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDExLmQyMfReYRwjNxGoh3tbLe3xW90qfA</string>
	<key>GCM_SENDER_ID</key>
	<string>428038298163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yashdhrangdhariya.raftlabsAssignment</string>
	<key>PROJECT_ID</key>
	<string>raftlabs-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>raftlabs-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428038298163:ios:9d70f58175a4bdd2f76146</string>
</dict>
</plist>